<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.kennethso168.xposed.advancedrebootmenu"
    android:versionCode="27"
    android:versionName="9.2.4" >
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".Settings"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        
        <activity-alias
			android:enabled="true"
			android:name=".Settings-ShowIcon"
			android:label="@string/launcher_name"
			android:icon="@drawable/ic_launcher"
			android:targetActivity=".Settings">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias> 
         
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposedminversion" android:value="54"/>
        <meta-data android:name="xposeddescription" android:value="@string/xposed_description"/>
    </application>

</manifest>
